  /*--------------- PORTAFOLIO ---------------*/
  /*--------------- HEADER SECTION ---------------*/
    
.h1-port{
    font-family: "Mulish", "sans-serif";
    font-size: 50px;
    font-weight: 900;
    color: #2eabe5;
    text-shadow: 5px 10px rgba(0, 0, 0, 0.364);
  }
  
  .bg-port{
  background-color:rgba(255, 255, 255, 0.473); ;
  }
